<!DOCTYPE html>
<html lang="en">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Weather view</title>
    <link rel="stylesheet" type="text/css" th:href="@{/css/style.css}"/>
</head>
<body>

<h1>Requested weather is:</h1>

<div>
    <table border="1">
        <tr>
            <th> ID </th>
            <th> Date </th>
            <th> Temperature </th>
        </tr>

        <tr th:each ="w : ${w}">
            <td th:utext="${w.id}">...</td>
            <td th:utext="${w.date}">...</td>
            <td th:utext="${w.temperature}">...</td>
        </tr>
    </table>
</div>

</body>
</html>